{% load static %}
<!DOCTYPE html>
<html lang="en" >
	<head>
		<meta charset="UTF-8">
		<title>Watchdog Alerts</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
		<!-- Bulma Version 0.9.0-->
		<link rel='stylesheet' href='https://unpkg.com/bulma@0.9.0/css/bulma.min.css'>
		<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
		<link rel='stylesheet' href='https://kingsora.github.io/OverlayScrollbars/etc/os-theme-thin-dark.css'>	  
		<link rel="icon" type="image/png" href="{% static 'favicon-32x32.png' %}"/>
		<link rel="stylesheet" href="{% static 'styles.css' %}">
		<link rel="stylesheet" href="{% static 'custom.css' %}">
		<script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<section class="hero is-primary">
		<div class="hero-body">
			<div class="columns">
				<div class="column is-12">
					<div class="container content">
						<i class="is-large fas fa-exclamation-circle"></i>
						<h1 class="title">Watchdog Alerts</h1>
						<h3 class="subtitle">
						Amazon, Best Buy, Walmart, Target
						</h3>
					</div>
				</div>
			</div>
		</div>
		</section>
		<section class="section">
			<div class="container">
				<div class="columns">
					<div class="column is-3 landing">
					{% if messages %}
						{% for message in messages %}
							<div class="notification {{ message.tags }} mt-3" role="alert">
								<button class="delete" onclick="this.parentElement.style.display='none'"></button>
							{{ message|safe }}
							</div>
						{% endfor %}
					{% endif %}
					<div class="content is-medium">
					<h3 class="title is-3">{% block header %}{% endblock %}</h3>
					<div class="box">
						<h4 id="const" class="title is-3">{% block box_header %}{% endblock %}</h4>
						{% block content %}
						{% endblock %}
					</div>
				</div>
			</div>
		</div>
		</div>
		</section>

	<script src='https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/prism.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>  
		
	<script>
	window.addEventListener('resize', () => {
	const divs = document.querySelectorAll(".menu-list");
	if (window.innerWidth < 768){
		divs.forEach(div => div.classList.add("tags"));
	}
	else {
		divs.forEach(div => div.classList.remove("tags"));
	}
	});

	document.addEventListener("DOMContentLoaded", function() {
		//The first argument are the elements to which the plugin shall be initialized
		//The second argument has to be at least a empty object or a object with your desired options
		OverlayScrollbars(document.querySelectorAll("body"), { });
	});

	</script>  
	</body>
</html>