{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watchdog Alerts</title>
    {% block styles %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href="{% static 'favicon-32x32.png' %}"/>
    {% endblock %}
</head>
<body>
    <div class="container mt-4">
        <div class="is-inline-flex">
            <a href="{% url 'panel' %}">
                <h1 class="title has-text-link mr-2 mb-4">Watchdog Alerts</h1>
            </a>
            <i class="fas fa-exclamation-circle fa-2x has-text-link mt-1"></i>
        </div>

        {% if user.is_authenticated %}
            {% include 'panel/partials/navbar.html' %}
        {% endif %}

        {% if messages %}
            {% for message in messages %}
                <div class="notification {{ message.tags }} mt-3" role="alert">
                      <button class="delete" onclick="this.parentElement.style.display='none'"></button>
                {{ message|safe }}
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>