{% extends 'panel/base.html' %}
{% load bulma_tags %}

{% block content %}

<div class="columns">
    <div class="column">

        {% if messages %}
            {% for message in messages %}
                <div class="notification is-primary mt-3" role="alert">
                      <button class="delete" onclick="this.parentElement.style.display='none'"></button>
                {{ message|safe }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form|bulma }}
            <p class="control">
                <button class="button is-link" type="submit">Update Settings</button>
            </p>
        </form>
    </div>
    <div class="column">
    </div>
</div>

{% endblock %}
