* {
	font-family: "Roboto", sans-serif;
	font-style: normal;
}
.label:not(:last-child) {
	margin-bottom: 0em;
}

.field {
	width: 100%;
	margin-right: 0.25rem;
}

.notification {
	padding: 0.75rem;
}

table {
	margin-bottom: 5rem;
}

td img {
	max-height: 150px;
}

td {
	font-size: 14px;
	height: 2rem;
	text-align: center !important;
}
